python-dotenv
google-generativeai
langchain
langchain-community
langchain-google-genai
langchain-chroma
langchain-huggingface
chromadb
pypdf2
sentence-transformers
flask
flask-cors
faiss-cpu
tiktoken
requests
beautifulsoup4
pytesseract
Pillow
opencv-python-headless
pdf2image
pysqlite3-binary
transformers
torch
